<%- include('partials/header') %>
<div class="container">
    <div class="product-card">
        <img src="<%= product.image %>" alt="">
        <h2><%= product.name %></h2>
        <p><strong>Price:</strong> $<%= product.price %></p>
        <p><%= product.description %></p>
        <a href="/products/<%= product.id %>/edit">Edit</a>
    </div>
    
</div>
<%- include('partials/footer') %>